<ng-container *ngIf="list.length === 0">
  <h4 #loading>
    <ng-content select="[loading]"></ng-content>
  </h4>
  <span *ngIf="!loading.innerHTML.trim()">
    <img
      width="100"
      src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif"
    />
  </span>
</ng-container>

<div *ngIf="list?.length === 0">
  <span #empty>
    <ng-content select="[empty]"></ng-content>
  </span>
  <span *ngIf="!empty.innerHTML.trim()">There are no records to display</span>
</div>

<ng-container *ngIf="list" && list.length>
  <ng-content select="[content]"></ng-content>
</ng-container>
