<img
  *ngIf="!list"
  width="100"
  src="https://c.tenor.com/I6kN-6X7nhAAAAAj/loading-buffering.gif"
/>

<ng-container *ngIf="list" && list.length>
  <!-- 0">
  <div *ngFor="let movie of list; let index = index" class="movie-container">
    <div>
      {{ index }} {{ movie.title | lowercase }}
      <button style="margin-left: 1rem" (click)="remove(index)">Remove</button>
    </div>
    <div>
      {{ movie.releaseDate | date: "dd-MMMM-yyyy" | uppercase }}
    </div>
    <div>
      {{ movie.price | currency }}
    </div>
  </div> -->
  <ng-content select="[content]"></ng-content>
</ng-container>
