form {
  max-width: 500px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-right: 1rem;
}

.checkbox-container {
  margin-bottom: 1rem;
}

.btn {
  margin-top: 50px;
}

h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}
